/* Colors:

#B5EAD7 - Blue
#C7CEEA - Indigo
#7E88AF - Dark Indigo
#E2F0CB - Green
#FFDAC12 - Orange
#FFB7B - Pink
#FF9AA2 - Red

*/

#nav li
{
	display: inline;
	font-size: 25px;
	margin-top: 10px;
}

#nav li a
{
	text-align: center;
	padding: 14px 16px;
	padding-top: 20px;
	margin-top: 10px;
	text-decoration: none;
	color: #C7CEEA;
}

#navBar
{
	background-color: #7E88AF;
	width: 100%;
	text-align: right;
	height: 80px;
}

body
{
	font-family: 'Chewy', cursive;
	margin: 0px;
}

#nav
{
	margin: 0px;
}