/*Letter-spacing and Line-height*/

.div1
{
	/* width: 1920px;
	height: 975px; */
	background-image: url("https://codingsteps.github.io/WebProg/images/image1.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover; height: 975px; width: 100%;
	position: relative;
}

body
{
	margin: 0px;
	background-attachment: fixed;
}

#container
{
	position: absolute;
	top: 40%;
	width: 100%;
	text-align: center;
}

#smTxt1
{	
	color: white;
	height: 10%;
	width: 20%;
	font-size: 60px;
	letter-spacing: 10px;
	background-color: black;
	padding: 20px;
}

#text1
{
	height: 200px;
	width: 100%;
	line-height: 30px;
	letter-spacing: 3px;
	text-align: center;
}

#text1 p
{
	color: darkgrey;
}

#div2
{
	background-image: url("https://codingsteps.github.io/WebProg/images/image2.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: width: 1920px; height: 450px;
	position: relative;
}

#smTxt2
{
	position: absolute;
	top: 43%;
	width: 100%;
	text-align: center;
}

#container2
{	
	padding: 20px;
	color: white;
	font-size: 60px;
	letter-spacing: 10px;
}

#text2
{
	height: 200px;
	width: 100%;
	line-height: 30px;
	letter-spacing: 3px;
	text-align: center;
}

#text2 p
{
	color: darkgrey;
}

.div3
{
	/* width: 1920px;
	height: 975px; */
	background-image: url("https://codingsteps.github.io/WebProg/images/image1.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover; width: 100%; height: 975px;;
	position: relative;
}

#container3
{
	position: absolute;
	top: 40%;
	width: 100%;
	text-align: center;
}

#smTxt3
{	
	color: white;
	height: 10%;
	width: 20%;
	font-size: 60px;
	letter-spacing: 10px;
	background-color: black;
	padding: 20px;
}