#header h1
{
	margin-top: 0px;
	color: white;
	position: absolute;
	top: 30%;
	right: 42%;
}

body
{
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

#header
{
	width: 100%;
	margin-top: 0px;
	height: 120px;
	background-color: steelblue;
	position: relative;
}

#listed
{
	margin-top: 0px;
	width: 100%;
	background-color: darkturquoise;
	height: 70px;
	padding-top: 10px;
	list-style-type: none;
	height: 80px;
}

#listed li
{
	padding: 20px;
	list-style-type: none;
	font-size: 25px;
	float: left;
}

#listed li a
{
	text-decoration: none;
	color: white;
}

#listed a
{
	text-decoration: none;
}

#highLight, #news, #contact, #dropdown
{
	float: left;
}

#listedList
{
	clear: left;
	width: 15%;
	margin-left: 15px;
	padding: 10px;
	margin-top: 15px;
	float: left;
}

#flight, #city, #island, #food, #people, #history, #oceans
{
	background-color: #d5f4e6;  /*A pale shade of green*/
	width: 100%;
}

#listedList li
{
	border-bottom: 3px solid white;
	list-style-type: none;
	padding: 15px;
	text-align: center;
	font-size: 15px;
	width: 100%;
}

#listedList li a
{
	text-decoration: none;
	color: slategray;
}

#city
{
	background-color: paleturquoise;
}

#theTitle
{
	float: left;
	width: 50%;
	background-color: steelblue;
}

#theTitle h1
{
	color: white;
	text-align: center;
}

#listed li:hover{background-color: darkgrey;}
#listedList li:hover{background-color: lightgrey;}