body
{
	font-family: 'Indie Flower', cursive;
}

#mainNavbar
{
	background-color: #d1c2f0;
	height: 80px;
}

#navbar
{
	font-size: 28px;
}

.sliderImg
{
	height: 700px;
}

#section2
{
	padding: 20px;
	background-color: #d1c2f0;
}