body
{
	font-family: 'Indie Flower', cursive;
}

#mainNavbar
{
	background-color: #d1c2f0;
	height: 80px;
}

#navbar
{
	font-size: 28px;
}

.sliderImg
{
	height: 700px;
}

#section2
{
	padding: 20px;
	background-color: #d1c2f0;
	font-size: 18px;

	width: 85%;
}

#section2-2
{
	width: 15%;
	margin: 0px;
}

#section2-text
{
	width: 15%;
	display: inline;
}