body
{
	margin: 0px;
}

#imageDiv
{
	width: 100%;
	height: 975px;

	background-image: url("https://codingsteps.github.io/WebProg/images/beachshowcase.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;

	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;

	margin: 0px;
}

#imageDiv2
{
	width: 100%;
	height: 975px;

	background-image: url("Images/Sea.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;

	margin: 0px;

	font-family: 'Architects Daughter', cursive;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
}

#imageDiv h1
{
	font-size: 60px;
	font-family: 'Architects Daughter', cursive;
	color: #926239;

	margin: 0px;
}

#imageDiv span
{
	font-size: 25px;
	font-family: 'Architects Daughter', cursive;
	color: #926239;
}

#imageDiv a
{
	text-decoration: none;
	font-size: 30px;
	font-family: 'Architects Daughter', cursive;
	color: #926239;

	border: 2px solid #926239;
	border-radius: 15% 15%;
	padding: 10px;
}

#flexImageDiv
{
	text-align: center;
}

#hundredBrown, #thirtyBrown1, #thirtyBrown2
{
	background-color: #926239;
	color: white;
	font-size: 20px;
	padding: 20px;
}

#hundredWhite, #thirtyWhite
{
	background-color: white;
	color: #926239;
	font-size: 20px;
	padding: 20px;
}

.parts
{
	flex: 30%;
}

@media screen and (max-width: 1200px)
{
	.parts
	{
		flex: 100%;
		flex-direction: column;
	}

	#imageDiv h1
	{
		font-size: 50px;
	}

	#imageDiv span
	{
		font-size: 15px;
	}

	#imageDiv a
	{
		font-size: 20px;
	}

}