h1
{
	margin-top: 0px;
	color: white;
	position: absolute;
	top: 30%;
	right: 42%;
}

body
{
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

#header
{
	width: 100%;
	margin-top: 0px;
	height: 120px;
	background-color: steelblue;
	position: relative;
}

#navBar
{
	margin-top: 0px;
	width: 100%;
	background-color: darkturquoise;
	height: 70px;
}

#navBar
{
	margin-top: 0px;
	padding-top: 10px;
}

#navBar li
{
	padding: 15px;
	list-style-type: none;
	padding-top: 16px;
	font-size: 25px;
}

#navBar li a
{
	text-decoration: none;
	color: white;
}

#highLight
{
	background-color: darkseagreen;
}

#listedList
{
	float: left;
	clear: left;
	width: 30%;
	margin-left: 15px;
	padding: 10px;
}

#flight, #city, #island, #food, #people, #history, #oceans
{
	background-color: #d5f4e6;  /*A pale shade of green*/
	width: 100%;
}

#listed li
{
	border-bottom: 3px solid white;
	list-style-type: none;
	padding: 15px;
}

#listed li a
{
	text-decoration: none;
	color: slategray;
}

#navBar li:hover{background-color: darkgrey;}