body
{
	margin: 0px;
}

#title
{
	margin-left: 20px;
	font-size: 30px;
}

#picDiv
{
	background-image: url(https://codingsteps.github.io/WebProg/images/Grilled-Vegetable-Wrap.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	margin: 0px;

	width: 100%;
	height: 600px;

	position: absolute;
}

#title i
{
	position: relative;
	bottom: 550px;
}